/* -----------------------------------------
	Sections & Custom Elements Styling
--------------------------------------------
*/

section{
  &.intro{
    padding: 150px 0px;
    @media(max-width: $sm){
      padding: 100px 0px;
    }
    &.idea{
      background: $pinesdPrimary;
    }
    .container{
        display: flex;
        @media(max-width: $sm){
          display: block;
        }
        .col{
          //width: 20%;
          &.content{
            width: 626px;
            @media(max-width: $sm){
              width: 100%;
            }
            h2{
              font-family: "HelveticaNeueLTPro-Bd";
              font-size: 24px;
              line-height: 29px;
              @media(max-width: $sm){
                font-size: 30px;
                line-height: 36px;
              }
            }
            p{
              font-size: 18px;
              line-height: 30px;
              margin-top: 10px;
              &.copy{
                &.big{
                  font-size: 62px;
                  line-height: 70px;
                  letter-spacing: -1px;
                  @media(max-width: $sm){
                    width: 100%;
                    font-size: 36px;
                    line-height: 42px;
                    margin-top: 50px;
                  }
                  b{
                    font-family: "HelveticaNeueLTPro-Bd";
                  }
                }
              }
              span{
                &.highlight{
                  background: $pinesdPrimary;
                  padding: 5px 0px;
                }
              }
              @media(max-width: $sm){
                  font-size: 20px;
                  line-height: 30px;
              }
            }
          }
          &.label{
            display: flex;
            padding-top: 10px;
            @media(max-width: $sm){
              display: block;
            }
            span{
              font-size: 12px;
              letter-spacing: 1px;
              text-transform: uppercase;
              @media(max-width: $sm){
                display: block;
                font-size: 16px;
              }
              &.hr{
                width: 250px;
                height: 1px;
                border-top: 1px solid $pinesdSecondary;
                margin: 4px 20px;
                @media(max-width: $sm){
                  height: 70px;
                  width: 1px;
                  border: none;
                  border-left: 1px solid $pinesdSecondary;
                  margin: 20px 4px;
                }
              }
            }
          }
        }
    }
  }
  &.content{
    padding: 150px 0px;
    h3{
      font-size: 30px;
    }
    p{
      &.copy{
        &.big{
          width: 900px;
          font-size: 48px;
          line-height: 62px;
          letter-spacing: -1px;
          margin: 100px auto 0;
          @media(max-width: $sm){
            width: 100%;
            font-size: 36px;
            line-height: 42px;
            margin-top: 50px;
          }
          b{
            font-family: "HelveticaNeueLTPro-Bd";
          }
        }
      }
    }
    &.clients{
      position: relative;
      padding: 0px;
      overflow: -moz-scrollbars-none; /* Firefox */
      -ms-overflow-style: none; /* IE */
      @media(max-width: $sm){
        overflow-x: scroll;
        margin: 100px 0px;
      }
      &::-webkit-scrollbar { width: 0 !important; }
      .overlay{
        background: rgba($pinesdSecondary,0.05);
        width: 100%;
        height: 100%;
        position: absolute;
        @media(max-width: $sm){
          width: 1260px;
        }
      }
      .container{
        display: flex;
        padding: 150px 0px;
        margin: 150px auto;
        @media(max-width: $sm){
          display: block;
          overflow: auto;
          width: 1260px;
          margin: 0px;
          padding: 100px 0px;
        }
        span{
          display: block;
          width: 174px;
          height: 180px;
          background-size: contain !important;
          @media(max-width: $sm){
            float: left;
          }
          &.dsw{
            background: url('assets/logos/dsw.png');
          }
          &.intel{
            background: url('assets/logos/intel.png');
          }
          &.mahindra{
            background: url('assets/logos/mahindra.png');
          }
          &.mars-wrigley{
            background: url('assets/logos/mars-wrigley.png');
          }
          &.scjohnson{
            background: url('assets/logos/scjohnson.png');
          }
          &.tyson{
            background: url('assets/logos/tyson.png');
          }
          &.zipline{
            background: url('assets/logos/zipline.png');
          }
        }
      }
    }
    &.approach{
      padding-top: 0px;
      @media(max-width: $sm){
        padding: 0px;
      }
      p{
        font-size: 18px;
        line-height: 30px;
        width: 621px;
        margin-top: 30px;
        @media(max-width: $sm){
          width: 100%;
          font-size: 20px;
        }
      }
      h3{
        @media(max-width: $sm){
          font-size: 28px;
        }
      }
      span{
        &.approach-diagram{
          display: block;
          width: 800px;
          height: 444px;
          background: url('assets/approach.png');
          background-size: cover;
          background-repeat: no-repeat;
          margin: 50px 0px 100px;
          @media(max-width: $sm){
            width: 100%;
            background: url('assets/approach-mobile.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 375px;
            background-position: left;
          }
          &.pine-difference{
            background: url('assets/approach-2.png');
            background-size: contain;
            background-repeat: no-repeat;
            @media(max-width: $sm){
              background: url('assets/approach-2-mobile.png');
              background-size: contain;
              background-repeat: no-repeat;
              height: 375px;
              background-position: left;
            }
          }
        }
      }
      .items{
        display: flex;
        justify-content: center;
        @media(max-width: $sm){
          display: block;
        }
        .item{
          width: 270px;
          margin: 0px 20px;
          @media(max-width: $sm){
            width: 100%;
            box-sizing: border-box;
            margin: 0px 0px 30px;
          }
          h4{
            font-family: "HelveticaNeueLTPro-Bd";
            font-size: 24px;
            line-height: 30px;
            width: 70%;
            @media(max-width: $sm){
              font-size: 30px;
              width: 100%;
            }
          }
          p{
            width: 100%;
            font-size: 15px;
            margin-top: 15px;
            @media(max-width: $sm){
              font-size: 20px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  &.highlight{
    background: $pinesdPrimary;
    @media(max-width: $sm){
        padding: 100px 0px;
    }
  }
  &.pine-sense{
    overflow: auto;
    @media(max-width: $sm){
        padding: 50px 0px;
    }
    .post{
      width: 626px;
      height: 352px;
      background-size: contain !important;
      display: flex;
      align-items: flex-end;
      @media(max-width: $sm){
          width: 100%;
          height: 210px;
      }
      span{
        &.title{
          background: rgba($pinesdSecondary ,0.4);
          display: block;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          padding: 0px 20px;
          box-sizing: border-box;
          font-size: 24px;
          color: #FFF;
          font-family: "HelveticaNeueLTPro-Bd";
          @media(max-width: $sm){
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
  &.pine-labs{
    padding-top: 0px;
    overflow: auto;
    .container{
      .col{
        &.content{
          h2{
            font-size: 110px;
            line-height: 90px;
            color: $pinesdPrimary;
            font-family: "Campton";
            text-transform: uppercase;
            margin-bottom: 50px;
            @media(max-width: $sm){
                font-size: 70px;
                line-height: 57px;
                word-wrap:break-word;
            }
          }
          button, a{
            width: 281px;
          }
        }
      }
    }
  }
  &.dictionary{
    position: relative;
    margin-bottom: 150px;
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 75px;
      background: $pinesdPrimary;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .term{
      width: 626px;
      height: 150px;
      margin: 0 auto 0;
      background: $pinesdSecondary;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #fff;
      box-sizing: border-box;
      @media(max-width: $sm){
        width: 100%;
        padding: 20px;
        text-align: center;
        line-height: 28px;
      }
      b{
        font-family: "HelveticaNeueLTPro-Bd";
        margin-right: 10px;
      }
      i{
        margin:0px 10px;
      }
    }
  }
  &.pine-process{
    h3{
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 100px;
    }
    .steps{
      display: flex;
      @media(max-width: $sm){
        display: block;
      }
      .step{
        width: 280px;
        min-height: 354px;
        opacity: 0;
        transition: opacity ease-in-out 0.5s;
        background: rgba($pinesdSecondary,0.05);
        margin-right: 20px;
        box-sizing: border-box;
        padding: 20px;
        position: relative;
        padding-top: 66px;
        box-sizing: border-box;
        &.recur{
          &::after{
            width: 44px;
            height: 40px;
            content: "";
            display: block;
            position: absolute;
            background: url('assets/recur-icon.png');
            background-size: cover;
            left: calc(50% - 22px);
            top: -8px;
          }
        }
        @media(max-width: $sm){
          width: 100%;
          opacity: 1;
        }
        &::before{
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 26px;
          background: #fff;
          top: 0px;
          left: 0;
          right: 0;
        }
        &.active{
          &.in{
            &::before{
              background: $pinesdPrimary;
              // animation-name: step-in;
              // animation-duration: 0.4s;
              // animation-fill-mode: forwards;
              left: 0px;
              top: 0px;
              right: auto;
            }
          }
          &.out{
            &::before{
              background: $pinesdPrimary;
              // animation-name: step-out;
              // animation-duration: 0.4s;
              // animation-fill-mode: forwards;
              right: 0px;
              top: 0px;
              left: auto;
            }
          }
        }
        &:nth-child(1){
          opacity: 1;
        }
        h4{
          font-family: "HelveticaNeueLTPro-Bd";
          font-size: 24px;
          line-height: 29px;
          color: $pinesdSecondary;
          margin-bottom: 25px;
          width: 100%;
        }
        p{
          font-size: 15px;
          line-height: 19px;
        }
        hr{
          border: none;
          border-bottom: 1px solid $pinesdSecondary;
          position: absolute;
          top: 230px;
          width: 240px;
            @media(max-width: $sm){
              width: 90%;
              box-sizing: border-box;
            }
        }
        .details{
          position: absolute;
          top: 250px;
          &.recur{
            &::before{
              width: 44px;
              height: 40px;
              content: "";
              display: block;
              position: absolute;
              background: url('assets/recur-icon.png');
              background-size: cover;
              left: -52px;
              top: -30px;
                @media(max-width: $sm){
                  display: none;
                }
            }
          }
          span{
            display: block;
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
    }
  }
  &.copyright{
    padding: 150px 0 0;
    text-align: right;
    font-size: 12px;
    line-height: 30px;
    color: #999;
    a{
      color: #999;
    }
  }
}



/* Animations */

@keyframes step-in{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes step-out{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
