/* -----------------------------------------
	Sections & Custom Elements Styling
--------------------------------------------
*/

section{
  &.intro{
    padding: 150px 0px;
    @media(max-width: $sm){
      padding: 100px 0px;
    }
    &.idea{
      background: $pinesdPrimary;
      .container{
        .col{
          &.content{
            width: 851px;
            @media(max-width: $sm){
              width: 100%;
            }
          }
        }
      }
    }
    .container{
        display: flex;
        @media(max-width: $sm){
          display: block;
        }
        .col{
          //width: 20%;
          &.content{
            width: 626px;
            @media(max-width: $sm){
              width: 100%;
            }
            h2{
              font-family: "HelveticaNeueLTPro-Bd";
              font-size: 24px;
              line-height: 29px;
              margin-bottom: 20px;
              @media(max-width: $sm){
                font-size: 30px;
                line-height: 36px;
                letter-spacing: 0px;
              }
            }
            p{
              font-size: 18px;
              line-height: 30px;
              margin-bottom: 20px;
              &:last-child{
                margin-bottom: 0px;
              }
              &.copy{
                &.big{
                  font-size: 62px;
                  line-height: 70px;
                  letter-spacing: -1px;
                  @media(max-width: $sm){
                    width: 100%;
                    font-size: 36px;
                    line-height: 42px;
                    margin-top: 50px;
                  }
                  b{
                    font-family: "HelveticaNeueLTPro-Bd";
                  }
                }
              }
              span{
                &.highlight{
                  background: $pinesdPrimary;
                  padding: 5px 0px;
                }
              }
              @media(max-width: $sm){
                  font-size: 20px;
                  line-height: 30px;
              }
            }
          }
          &.label{
            display: flex;
            padding-top: 10px;
            @media(max-width: $sm){
              display: block;
            }
            span{
              font-size: 12px;
              letter-spacing: 1px;
              text-transform: uppercase;
              @media(max-width: $sm){
                display: block;
                font-size: 16px;
              }
              &.hr{
                width: 250px;
                height: 1px;
                border-top: 1px solid $pinesdSecondary;
                margin: 4px 20px;
                @media(max-width: $sm){
                  height: 70px;
                  width: 1px;
                  border: none;
                  border-left: 1px solid $pinesdSecondary;
                  margin: 20px 4px;
                }
              }
            }
          }
        }
    }
    &.inquiries{
      .container{
        .content{
          h4{
            font-family: 'HelveticaNeueLTPro-Bd';
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  &.content{
    padding: 150px 0px;
    h3{
      font-size: 30px;
    }
    p{
      &.copy{
        &.big{
          width: 900px;
          font-size: 48px;
          line-height: 62px;
          letter-spacing: -1px;
          margin: 100px auto 0;
          @media(max-width: $sm){
            width: 100%;
            font-size: 36px;
            line-height: 42px;
            margin-top: 50px;
          }
          b{
            font-family: "HelveticaNeueLTPro-Bd";
          }
        }
      }
    }
    &.clients{
      position: relative;
      padding: 0px;
      overflow: -moz-scrollbars-none; /* Firefox */
      -ms-overflow-style: none; /* IE */
      @media(max-width: $sm){
        overflow-x: scroll;
        margin: 100px 0px;
      }
      &::-webkit-scrollbar { width: 0 !important; }
      .overlay{
        background: rgba($pinesdSecondary,0.05);
        width: 100%;
        height: 100%;
        position: absolute;
        @media(max-width: $sm){
          width: 1260px;
        }
      }
      .container{
        display: flex;
        padding: 150px 0px;
        margin: 150px auto;
        @media(max-width: $sm){
          display: block;
          overflow: auto;
          width: 1260px;
          margin: 0px;
          padding: 100px 0px;
        }
        span{
          display: block;
          width: 174px;
          height: 180px;
          background-size: contain !important;
          @media(max-width: $sm){
            float: left;
          }
          &.dsw{
            background: url('assets/logos/dsw.png');
          }
          &.intel{
            background: url('assets/logos/intel.png');
          }
          &.mahindra{
            background: url('assets/logos/mahindra.png');
          }
          &.mars-wrigley{
            background: url('assets/logos/mars-wrigley.png');
          }
          &.scjohnson{
            background: url('assets/logos/scjohnson.png');
          }
          &.tyson{
            background: url('assets/logos/tyson.png');
          }
          &.zipline{
            background: url('assets/logos/zipline.png');
          }
        }
      }
      &.no-margin{
        @media(max-width: $sm){
          margin: 0 auto;
        }
        .container{
          margin: 0 auto;
        }
      }
    }
    &.approach{
      padding-top: 0px;
      @media(max-width: $sm){
        padding: 0px;
      }
      p{
        font-size: 18px;
        line-height: 30px;
        width: 621px;
        margin-top: 30px;
        @media(max-width: $sm){
          width: 100%;
          font-size: 20px;
        }
      }
      h3{
        @media(max-width: $sm){
          font-size: 28px;
        }
      }
      span{
        &.approach-diagram{
          display: block;
          width: 800px;
          height: 444px;
          background: url('assets/approach.png');
          background-size: cover;
          background-repeat: no-repeat;
          margin: 50px 0px 100px;
          @media(max-width: $sm){
            width: 100%;
            background: url('assets/approach-mobile.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 375px;
            background-position: left;
          }
          &.pine-difference{
            background: url('assets/approach-2.png');
            background-size: contain;
            background-repeat: no-repeat;
            @media(max-width: $sm){
              background: url('assets/approach-2-mobile.png');
              background-size: contain;
              background-repeat: no-repeat;
              height: 375px;
              background-position: left;
            }
          }
        }
      }
      .items{
        display: flex;
        justify-content: center;
        @media(max-width: $sm){
          display: block;
        }
        .item{
          width: 270px;
          margin: 0px 20px;
          @media(max-width: $sm){
            width: 100%;
            box-sizing: border-box;
            margin: 0px 0px 30px;
          }
          h4{
            font-family: "HelveticaNeueLTPro-Bd";
            font-size: 23px;
            line-height: 30px;
            width: 70%;
            @media(max-width: $sm){
              font-size: 30px;
              width: 100%;
            }
          }
          p{
            width: 100%;
            font-size: 15px;
            margin-top: 15px;
            @media(max-width: $sm){
              font-size: 20px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  &.highlight{
    background: $pinesdPrimary;
    @media(max-width: $sm){
        padding: 100px 0px;
    }
    .slides{
      width: 100%;
      height: 250px;
      overflow: hidden;
      margin-top: 100px;
      @media(max-width: $sm){
          height: auto;
      }
      .wrapper{
        position: relative;
        //transition: top ease-in-out 0.3s;
        &#slideContainer {
          width: 400%; /* to contain 4 panels, each with 100% of window width */
          height: 100%;
        }
        // &.one{
        //   top: 0px;
        // }
        // &.two{
        //   top: -250px;
        // }
        // &.three{
        //   top: -500px;
        // }
        // &.four{
        //   top: -750px;
        // }
        .slide{
          width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
          float: left;
          @media(max-width: $sm){
              margin-top: 20px;
          }
          p{
            &.copy{
              &.big{
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
  &.pine-sense{
    overflow: auto;
    @media(max-width: $sm){
        padding: 50px 0px;
    }
    .post{
      width: 626px;
      height: 352px;
      background-size: contain !important;
      display: flex;
      align-items: flex-end;
      @media(max-width: $sm){
          width: 100%;
          height: 210px;
      }
      span{
        &.title{
          background: rgba($pinesdSecondary ,0.4);
          display: block;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          padding: 0px 20px;
          box-sizing: border-box;
          font-size: 24px;
          color: #FFF;
          font-family: "HelveticaNeueLTPro-Bd";
          @media(max-width: $sm){
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
  &.pine-labs{
    padding-top: 0px;
    overflow: auto;
    .container{
      .col{
        &.content{
          h2{
            font-size: 110px;
            line-height: 90px;
            color: $pinesdPrimary;
            font-family: "Campton";
            text-transform: uppercase;
            margin-bottom: 50px;
            @media(max-width: $sm){
                font-size: 70px;
                line-height: 57px;
                word-wrap:break-word;
            }
          }
          button, a{
            width: 281px;
          }
        }
      }
    }
  }
  &.dictionary{
    position: relative;
    margin-bottom: 150px;
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 75px;
      background: $pinesdPrimary;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .term{
      width: 626px;
      height: 150px;
      margin: 0 auto 0;
      background: $pinesdSecondary;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #fff;
      box-sizing: border-box;
      @media(max-width: $sm){
        width: 100%;
        padding: 20px;
        text-align: center;
        line-height: 28px;
      }
      b{
        font-family: "HelveticaNeueLTPro-Bd";
        margin-right: 10px;
      }
      i{
        margin:0px 10px;
      }
    }
  }
  &.pine-process{
    h3{
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 100px;
    }
    .steps{
      display: flex;
      @media(max-width: $sm){
        display: block;
      }
      .step{
        width: 290px;
        min-height: 354px;
        opacity: 0;
        transition: opacity ease-in-out 0.5s;
        background: rgba($pinesdSecondary,0.05);
        margin-right: 20px;
        box-sizing: border-box;
        padding: 20px;
        position: relative;
        padding-top: 66px;
        box-sizing: border-box;
        &.recur{
          &::after{
            width: 44px;
            height: 40px;
            content: "";
            display: none;
            position: absolute;
            background: url('assets/recur-icon.png');
            background-size: cover;
            left: calc(50% - 22px);
            top: -8px;
            @media(max-width: $sm){
              display: block;
            }
          }
        }
        @media(max-width: $sm){
          width: 100%;
          opacity: 1 !important;
        }
        &::before{
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 26px;
          background: #fff;
          top: 0px;
          left: 0;
          right: 0;
        }
        &.active{
          &.in{
            &::before{
              background: $pinesdPrimary;
              // animation-name: step-in;
              // animation-duration: 0.4s;
              // animation-fill-mode: forwards;
              left: 0px;
              top: 0px;
              right: auto;
              @media(max-width: $sm){
                background: #fff;
              }
            }
          }
          &.out{
            &::before{
              background: $pinesdPrimary;
              // animation-name: step-out;
              // animation-duration: 0.4s;
              // animation-fill-mode: forwards;
              right: 0px;
              top: 0px;
              left: auto;
            }
          }
        }
        &:nth-child(1){
          opacity: 1;
        }
        &:last-child{
          margin-right: 0px;
        }
        h4{
          font-family: "HelveticaNeueLTPro-Bd";
          font-size: 24px;
          line-height: 29px;
          color: $pinesdSecondary;
          margin-bottom: 25px;
          width: 100%;
        }
        p{
          font-size: 15px;
          line-height: 19px;
          margin-bottom: 20px;
        }
        hr{
          border: none;
          border-bottom: 1px solid $pinesdSecondary;
          position: absolute;
          top: 230px;
          width: 240px;
            @media(max-width: $sm){
              width: 90%;
              box-sizing: border-box;
            }
        }
        .details{
          position: absolute;
          top: 250px;
          &.recur{
            &::before{
              width: 44px;
              height: 40px;
              content: "";
              display: block;
              position: absolute;
              background: url('assets/recur-icon.png');
              background-size: cover;
              left: -52px;
              top: -30px;
                @media(max-width: $sm){
                  display: none;
                }
            }
          }
          span{
            display: block;
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
    }
    &.work{
      background: #fff;
      position: relative;
      z-index: 1;
      .steps{
        .step{
          background: #fff;
          font-size: 15px;
          line-height: 22px;
          @media(max-width: $sm){
            min-height: auto;
            padding: 30px 0px 0px !important;
          }
        }
      }
    }
  }
  &.copyright{
    padding: 150px 0 0;
    text-align: right;
    font-size: 12px;
    line-height: 30px;
    color: #999;
    p{
      font-weight: 300;
    }
    a{
      color: #999;
    }
  }
  &.pine-services{
    padding: 150px 0px 0px;
    overflow: auto;
    .container{
      h3{
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 100px;
      }
      .services{
        p{
          margin-bottom: 20px;
        }
        span{
          display: block;
          font-size: 60px;
          line-height: 70px;
          font-family: "HelveticaNeueLTPro-Bd";
          background: $pinesdPrimary;
          width: auto;
          display: inline;
          margin-bottom: 15px;
          padding: 10px 3px 0px;
          @media(max-width: $sm){
            font-size: 33px;
            display: inline;
            float: none;
            line-height: 42px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  &.works{
    padding: 150px 0px 0px;
    .container{
      h3{
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 100px;
      }
      span{
        &.highlight{
          background: $pinesdPrimary;
          @media(max-width: $sm){
            display: inline !important;
          }
        }
      }
      .intro{
        display: flex;
        @media(max-width: $sm){
          display: block;
        }
        .col{
          //width: 20%;
          &.content{
            width: 626px;
            @media(max-width: $sm){
              width: 100%;
            }
            h4{
              font-size: 22px;
              margin-bottom: 25px;
              font-family: "HelveticaNeueLTPro-Bd";
            }
            h2{
              font-family: "HelveticaNeueLTPro-Bd";
              font-size: 24px;
              line-height: 29px;
              @media(max-width: $sm){
                font-size: 30px;
                line-height: 36px;
              }
            }
            p{
              font-size: 18px;
              line-height: 30px;
              margin-bottom: 20px;
              &.copy{
                &.big{
                  font-size: 62px;
                  line-height: 70px;
                  letter-spacing: -1px;
                  @media(max-width: $sm){
                    width: 100%;
                    font-size: 36px;
                    line-height: 42px;
                    margin-top: 50px;
                  }
                  b{
                    font-family: "HelveticaNeueLTPro-Bd";
                  }
                }
              }
              span{
                &.highlight{
                  background: $pinesdPrimary;
                  padding: 5px 0px;
                }
              }
              @media(max-width: $sm){
                  font-size: 20px;
                  line-height: 30px;
              }
            }
          }
          &.label{
            display: flex;
            padding-top: 10px;
            @media(max-width: $sm){
              display: block;
            }
            span{
              font-size: 12px;
              letter-spacing: 1px;
              text-transform: uppercase;
              @media(max-width: $sm){
                display: block;
                font-size: 16px;
              }
              &.hr{
                width: 250px;
                height: 1px;
                border-top: 1px solid $pinesdSecondary;
                margin: 4px 20px;
                @media(max-width: $sm){
                  height: 70px;
                  width: 1px;
                  border: none;
                  border-left: 1px solid $pinesdSecondary;
                  margin: 20px 4px;
                }
              }
            }
          }
        }
      }
      .posts{
        overflow: auto;
        display: grid;
        grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
        grid-gap: 15px;
        box-sizing: border-box;
        @media(max-width: $sm){
          display: block;
        }
        .post{
          display: flex;
          height: 352px;
          background-size: cover !important;
          background-position: top center !important;
          align-items: flex-end;
          @media(max-width: $sm){
            margin-bottom: 5%;
          }
          .title-wrapper{
            padding: 30px;
            background: rgba($pinesdSecondary, 0.4);
            width: 100%;
            position: relative;
            h2{
              font-size: 43px;
              color: #fff;
              text-transform: uppercase;
              @media(max-width: $sm){
                font-size: 24px;
                width: calc(100% - 50px);
                display: block;
              }
            }
            span{
              color: #fff;
              font-size: 24px;
              line-height: 29px;
              @media(max-width: $sm){
                font-size: 18px;
                width: calc(100% - 100px);
                display: block;
                line-height: 21px;
              }
            }
            .action{
              position: absolute;
              right: 30px;
              top: 30px;
              a{
                display: block;
                cursor: pointer;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $pinesdPrimary;
                font-size: 22px;
                border: 1px solid $pinesdPrimary;
                background: transparent;
                background-repeat: no-repeat;
                background-position: center;
                transition: background ease-in-out 0.5s, color ease-in-out 0.5s;
                &:hover{
                  color: $pinesdSecondary;
                  background: $pinesdPrimary;
                }
              }
            }
          }
        }
      }
    }
  }
  &.featured-work{
    background: #fff;
    position: relative;
    z-index: 1;
    @media(max-width: $sm){
      margin: 50px 0px 0px;
    }
    img{
      width: 100%;
    }
  }
  &.conclusion{
    padding: 150px 0px;
    @media(max-width: $sm){
      padding-bottom: 0px;
    }
    .content{
      width: 626px;
      margin: 0 auto;
      @media(max-width: $sm){
        width: 100%;
      }
      p{
        font-family: "HelveticaNeueLTPro-Lt";
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: 300;
      }
    }
  }
  &.pinesd-posts{
    .section-header{
      display: flex;
      @media(max-width: $sm){
        display: block;
      }
      div{
        &:last-child{
          justify-self: end;
        }
        h3{
          text-transform: uppercase;
          font-size: 30px;
        }
      }
      .search{
        margin-left: auto;
        position: relative;
        height: 52px;
        margin-top: 50px;
        .wrapper{
          display: flex;
          overflow: auto;
          border: 1px solid $pinesdSecondary;
          width: 300px;
          height: 50px;
          transition: width ease-in-out 0.3s;
          @media(max-width: $sm){
            width: 100%;
          }
          input{
            width: 250px;
            display: block;
            box-sizing: border-box;
            padding: 20px;
            border: none;
            font-size: 18px;
            transition: width ease-in-out 0.3s;
            @media(max-width: $sm){
              width: calc(100% - 50px);
            }
            &::placeholder{
              text-transform: uppercase;
              color: $pinesdSecondary;
              font-size: 14px;
              letter-spacing: 2px;
              font-family: 'HelveticaNeueLTPro-Bd';
              opacity: 1;
            }
          }
          button{
            &.btn{
              margin: 0px;
              &.search-btn{
                height: 50px;
                width: 50px;
                display: block;
                border: none;
                background: $pinesdPrimary;
                font-size: 20px;
              }
            }
          }
          &.wider{
            width: 600px;
            @media(max-width: $sm){
              width: 100%;
            }
            input{
              width: 550px;
              @media(max-width: $sm){
                width: calc(100% - 50px);
              }
            }
          }
        }
        .results {
          background: #fff;
          border: 1px solid $pinesdSecondary;
          width: 600px;
          position: absolute;
          top: 50px;
          right: 0px;
          z-index: 1001;
          box-shadow: 0px 10px 10px rgba($pinesdSecondary, 0.2);
          display: none;
          max-height: 325px;
          overflow-y: scroll;
          @media(max-width: $sm){
            width: 100%;
            right: -2px;
          }
          &.show{
            display: block;
          }
          a{
            color: $pinesdSecondary;
            text-decoration: none;
          }
          .post{
            padding: 20px;
            border-bottom: 1px solid $pinesdSecondary;
            &:hover{
              background: $pinesdPrimary
            }
            &:last-child{
              border: none;
            }
            p{
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .posts{
      padding: 100px 0px 50px;
      @media(max-width: $sm){
        padding: 50px 0px 50px;
      }
      .post{
        background: #F2F2F2;
        display: flex;
        margin-bottom: 30px;
        @media(max-width: $sm){
          display: block;
        }
        .featured-image{
          width: 322px;
          height: 250px;
          background: $pinesdSecondary;
          background-size: cover !important;
          background-position: center center !important;
          @media(max-width: $sm){
            width: 100%;
          }
        }
        .content{
          display: flex;
          padding: 30px 50px 30px 30px;
          align-items: center;
          width: calc(100% - 322px);
          @media(max-width: $sm){
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 50px 20px;
          }
          .copy{
            padding-right: 50px;
            @media(max-width: $sm){
              display: block;
              padding: 0px;
              width: 100%;
            }
            h4{
              font-size: 24px;
              font-family: "HelveticaNeueLTPro-Bd";
              margin-bottom: 15px;
            }
            .info{
              margin-bottom: 20px;
            }
            p{
              font-size: 15px;
              line-height: 19px;
              @media(max-width: $sm){
                font-size: 20px;
                line-height: 32px;
              }
            }
          }
          .actions{
            position: relative;
            z-index: 1000;
          }
        }
      }
    }
    .pagination {
        display: flex;
        justify-content: center;
        a, span{
          display: block;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $pinesdSecondary;
          margin: 10px;
          color: $pinesdSecondary;
          text-decoration: none;
          font-family: 'HelveticaNeueLTPro-Bd';
          &:hover{
            color: #fff;
            background: $pinesdSecondary;
          }
          &.current{
            color: #fff;
            background: $pinesdSecondary;
          }
          &.prev{
            margin-right: 50px;
          }
          &.next{
            margin-left: 50px;
          }
        }
    }
  }
}

body{
  &.team{
    section{
      &.main-content{
        h3{
          font-size: 30px;
          line-height: 30px;
          text-transform: uppercase;
          margin-bottom: 100px;
          strong{
            font-family: "Campton";
          }
        }
        .wp-block-columns{
          margin-bottom: 100px;
          @media(max-width: $sm){
            display: block;
          }
          .wp-block-column{

            &:nth-child(1){
              flex-basis: 250px !important;
              img{
                @media(max-width: $sm){
                  width: 100%;
                }
              }
            }
            &:nth-child(2){
              flex-basis: 650px !important;
              .wp-block-columns{
                display: block !important;
                overflow: auto;
                margin-bottom: 20px;
                  .wp-block-column{
                    float: left;
                    &:nth-child(1){
                      flex-basis: auto !important;
                      font-size: 18px;
                      line-height: 22px;
                    }
                    &:nth-child(2){
                      flex-basis: auto !important;
                      margin-left: 15px !important;
                    }
                }
              }
            }
            h4{
              font-family: "HelveticaNeueLTPro-Bd";
              font-weight: bold;
              font-size: 24px;
              margin-bottom: 20px;
            }
            p{
              font-size: 15px;
              margin-bottom: 20px;
              line-height: 19px;
              &:last-child{
                margin-bottom: 0px;
              }
              @media(max-width: $sm){
                font-size: 20px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
  &.pine-sense{
    section{
      &.intro{
        padding-top: 0px;
      }
      &.dictionary{
        position: relative;
        margin-bottom: 150px;
        &::before{
          display: none;
        }
        .term{
          margin-top: -75px;
          text-align: center;
          @media(max-width: $sm){
            width: 100%;
            padding: 20px;
            text-align: center;
            line-height: 28px;
          }
          b{
            font-family: "HelveticaNeueLTPro-Bd";
            margin-right: 10px;
          }
          i{
            margin:0px 10px;
          }
          span{
            &.author{
              display: block;
              margin-top: 20px;
              font-size: 18px;
              i{
                //font-family: 'HelveticaNeueLTPro-It';
              }
            }
          }
        }
      }
    }
  }
  &.pine-labs{
    section{
      &.intro{
        padding: 150px 0px 0px;
      }
      &.pine-services{
        padding: 150px 0px 150px;
      }
    }
  }
}






/* Animations */

@keyframes step-in{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes step-out{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
