/**
 * set $vars
 */
$pinesdPrimary: #FFF200;
$pinesdSecondary: #000;
$pinesdTertiary: rgba(0,0,0,0.05);
$pinesdQuaternary: #333;

/*
* container_class
*/

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 300px;
